{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2 style="margin-bottom: 2rem;">{{ username }}'s Properties</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1> Properties <small class="float-right">{{ properties.count() }} properties</small></h1>
        <ul class="media-list">
            {% for i in range(0, len) %}
            <li class="media review-item">
                <div class="media-body">
                    <p>
                        <strong>{{properties[i].name}}</strong>
                    </p>
                    <img class="propic" src="data:image/png;base64,{{images[i]}}" alt="image!!">
                    <p>
                        <strong>City:</strong> {{properties[i].city}}
                    </p>
                    <p>
                        <strong>Price: $</strong>{{ properties[i].price }}
                    </p>
                    <p>
                        <strong>Description: </strong>{{ properties[i].description }}
                    </p>

                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}