{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    <h3 style="margin-bottom: 3rem; margin-top: 3rem;">Properties matching your search...</h3>
    {% for i in range(0,len) %}

    <div class="card" style="width: 18rem;">
        <img class="pic" src="data:image/png;base64,{{images[i]}}" alt="image!!">
        <div class="card-body">
          <h5 class="card-title">{{results[i].name}}</h5>
          <p class="card-text">
              <strong>City: </strong> {{results[i].city}} 
              <br> 
              <strong>Description: </strong>{{results[i].description}}
              <br>
              <strong>Price: $</strong>{{results[i].price}}
        </p>
    
          <a href="#" class="btn btn-primary">Reserve Now</a>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}